canvas
{
    position: absolute;
    top: 0;
    left: 0;
}
#score
{
    z-index: 4;
}
#bulletZone
{
    z-index: 3;
}
#playerZone
{
    z-index: 2;
}
#ennemyZone
{
    z-index: 1;
}
.buttonFermer {
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    margin: 7px;
    margin-top: 40px;
    font-size: 14px;
    padding: 5px;
}