
canvas { 
    display: block; 
    margin: 0 auto; 
    background: #cce; 
    width: 100vw;
    height: 100vh;
}

.buttonFermer {
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    margin: 7px;
    font-size: 14px;
    padding: 5px;
  }