body
{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
canvas
{
    position: absolute;
    top: 0;
    left: 0;
}
#score
{
    z-index: 4;
}
#bulletZone
{
    z-index: 3;
}
#playerZone
{
    z-index: 2;
}
#ennemyZone
{
    z-index: 1;
}
.startBackground
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
}
.start
{
    height: 100px;
    width: 200px;
    font-size: 40px;
    margin: auto;
    margin-top: 300px;
    text-align: center;
    z-index: 11;
}
.invisible
{
    display: none;
    pointer-events: none;
}