body
{
    margin: 0px;
}
canvas
{
    position: absolute;
    top: 0;
    left: 0;
}
#score
{
    z-index: 4;
}
#bulletZone
{
    z-index: 3;
}
#playerZone
{
    z-index: 2;
}
#ennemyZone
{
    z-index: 1;
}